.CharacterCard__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    border: 1px solid black;
    margin: 10px;
    background-color: #FF7854;
}

.CharacterCard__container:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    border: 1px solid black;
    margin: 10px;
    background-color: gold;
}

.CharacterCard-image {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.CharacterCard-house {
    height: 30px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}