.CharacterCard__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}